{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de alumnado</h1>

    <table>
        <thead>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Fecha nacimiento</th>
            <th>Grupo</th>
        </thead>
        <tbody>
            {% for alumno in alumnado %}
                <tr>
                    <td>{{ alumno.apellidos }}</td>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.fechaNacimiento | date('d/m/Y') }}</td>
                    <td>{{ alumno.grupo.descripcion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}